@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This project is built in ASP.NET Core.</p>
    <p>You can post pictures by clicking on <a asp-area="" asp-controller="Posts" asp-action="Index">Post Images</a> </p>
</div>
